@using MetroBlog.Settings;
@{
    Layout = "_Layout.cshtml";
    ViewBag.Icon = "setting";
    ViewBag.Title = "站点设置";
}
@section script{
    <style type="text/css">
        .tab-content {
            min-height: 400px;
        }

        #tab2, body #content div.radio.radio-transparent input[type=radio]:checked + label, body #content .modal .modal-dialog .modal-content div.radio.radio-transparent input[type=radio]:checked + label, body #content div.radio.radio-transparent label, body #content .modal .modal-dialog .modal-content div.radio.radio-transparent label {
            color: #000;
        }


        div.tagsinput {
            border: 1px solid #CCC;
            background: #FFF;
            padding: 5px;
            width: 300px;
            height: 100px;
            overflow-y: auto;
        }

            div.tagsinput span.tag {
                border: 1px solid #a5d24a;
                -moz-border-radius: 2px;
                -webkit-border-radius: 2px;
                display: block;
                float: left;
                padding: 5px;
                text-decoration: none;
                background: #cde69c;
                color: #638421;
                margin-right: 5px;
                margin-bottom: 5px;
                font-family: helvetica;
                font-size: 13px;
            }

                div.tagsinput span.tag a {
                    font-weight: bold;
                    color: #82ad2b;
                    text-decoration: none;
                    font-size: 11px;
                }

            div.tagsinput input {
                width: 80px;
                margin: 0px;
                font-family: helvetica;
                font-size: 13px;
                border: 1px solid transparent;
                padding: 5px;
                background: transparent;
                color: #000;
                outline: 0px;
                margin-right: 5px;
                margin-bottom: 5px;
            }

            div.tagsinput div {
                display: block;
                float: left;
            }

        .tags_clear {
            clear: both;
            width: 100%;
            height: 0px;
        }
    </style>
    <script type="text/javascript">
        var key = "@Model";
        seajs.use("setting");
    </script>
}
<div class="row">
    <section id="rootwizard" class="tabbable transparent tile">

        <!-- /tile header -->
        <!-- tile widget -->
        <div class="tile-widget nopadding color transparent-black rounded-top-corners">
            <ul class="nav nav-tabs tabdrop">
                <li class="dropdown pull-right tabdrop hide"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-th-list"></i> <span class="badge"></span></a><ul class="dropdown-menu"></ul></li>
                @{

                    bool fristRow = true;
                    var model = (string)Model;
                }
                @foreach (var settingType in BlogSetting.Instance[model].SettingTypes)
                {
                    if (fristRow)
                    {
                        <li class="active"><a href="#tab_@settingType.GetHashCode()" data-toggle="tab">@settingType.TypeName</a></li>
                        {
                            fristRow = false;
                        }
                    }

                    else
                    {
                        <li><a href="#tab_@settingType.GetHashCode()" data-toggle="tab">@settingType.TypeName</a></li>

                    }
                }
            </ul>
        </div>
        <!-- /tile widget -->
        <!-- tile body -->
        <div class="tile-body">
            <form class="form-horizontal form1" id="addForm" role="form" parsley-validate="">
                <div class="tab-content">
                    @{
                        fristRow = true;
                    }
                    @foreach (var settingType in BlogSetting.Instance[model].SettingTypes)
                    {
                        <div class="tab-pane @(fristRow?"active":"")" id="tab_@settingType.GetHashCode()">
                            @foreach (var settingItem in settingType.SettingItems)
                            {
                                fristRow = false;
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="@settingItem.ItemName">
                                        @settingItem.DisplayText
                                    </label>
                                    <div class="col-sm-10">
                                        @switch (settingItem.ItemType)
                                        {
                                            case ItemType.INPUT:
                                                {
                                                    <input type="text" name="@settingItem.ItemName" class="form-control" data-bind="value:@settingItem.ItemName">
                                                }
                                                break;
                                            case ItemType.TEXTARE:
                                                {
                                                    <textarea name="@settingItem.ItemName" class="form-control" style="height: 100px;" data-bind="value:@settingItem.ItemName"></textarea>

                                                }
                                                break;
                                            case ItemType.SELECT:
                                                {

                                                    <select name="@settingItem.ItemName">
                                                        @foreach (var optionItem in settingItem.Options)
                                                        {
                                                            <option value="@optionItem.Value">@optionItem.Text</option>
                                                        }
                                                    </select>
                                                }
                                                break;
                                            case ItemType.RADIO:
                                                {
                                                    <div class="onoffswitch greensea">
                                                        <input type="checkbox" name="@settingItem.ItemName" class="onoffswitch-checkbox" id="@settingItem.ItemName" data-bind="checked:@settingItem.ItemName">
                                                        <label class="onoffswitch-label" for="@settingItem.ItemName">
                                                            <span class="onoffswitch-inner"></span>
                                                            <span class="onoffswitch-switch"></span>
                                                        </label>
                                                    </div>

                                                }
                                                break;
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    }

                </div>

            </form>
        </div>
        <!-- /tile body -->
        <!-- tile footer -->
        <div class="tile-footer border-top color white rounded-bottom-corners nopadding">
            <div class="col-sm-offset-4 col-sm-8">
                <input type="button" class="btn btn-primary" value="保存数据" data-bind="click:events.submitForm" />
                <button type="reset" class="btn btn-default">Reset</button>
            </div>
        </div>
        <!-- /tile footer -->
    </section>


</div>
