@using MetroBlog.Core;
@using MetroBlog.Core.Model.ViewModel;
@using MetroBlog.Core.Model.QueryModel;
@using MetroBlog.Core.Common;
@{

    Layout = "_Layout.cshtml";
}
<div class="posts">
    <h1 class="content-subhead">日志列表</h1>
    @{

        Int32 articleId = Convert.ToInt32(Request["Id"]);
        Article articleInfo = Model.GetArticleById(articleId);
    }

    <section class="post">
        <header class="post-header">
            <!--<img class="post-avatar" alt="1111" height="48" width="48" src="blog/img/common/1111-avatar.jpg">-->

            <h2 class="post-title">@articleInfo.Title</h2>

            <p class="post-meta">
                <a class="post-author" href="javascript:;">@Config["system"]["site_title"]</a> 发表于 @articleInfo.CreateTime.ToString("yyyy-MM-dd HH:mm")
                @foreach (var tagItem in articleInfo.Tags)
                {
                    <a class="post-category post-category-design" href="javascript:;">@tagItem.TagName</a>
                }
            </p>
        </header>

        <div class="post-description">
            <p>
                @articleInfo.Content
            </p>
        </div>
    </section>

    <section class="post">
        <div id="SOHUCS" sid="@articleInfo.Id"></div>
        <script type="text/javascript">

            (function () {
                var appid = '@Config["comment"]["appId"]';
                var conf = 'prod_f94491da67b246cf454987b354e5f3a6';
                var width = window.innerWidth || document.documentElement.clientWidth;
                if (width < 960) {
                    window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>');
                } else { var loadJs = function (d, a) { var c = document.getElementsByTagName("head")[0] || document.head || document.documentElement; var b = document.createElement("script"); b.setAttribute("type", "text/javascript"); b.setAttribute("charset", "UTF-8"); b.setAttribute("src", d); if (typeof a === "function") { if (window.attachEvent) { b.onreadystatechange = function () { var e = b.readyState; if (e === "loaded" || e === "complete") { b.onreadystatechange = null; a() } } } else { b.onload = a } } c.appendChild(b) }; loadJs("http://changyan.sohu.com/upload/changyan.js", function () { window.changyan.api.config({ appid: appid, conf: conf }) }); }
            })(); </script>
    </section>
</div>